body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  background-color: black;
  background-image: url('https://i.ibb.co/3T2YByq/music2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title-bg-img {
  position: absolute;
  z-index: -1;
  margin-top: -6.8vh;

  visibility: hidden;
  width: 400px;
  height: 200px;
}

.title {
  text-shadow: 2px 2px black;
  cursor: pointer;
  font-style: italic;
  margin-top: 1.5vh;
}

.song-input {
  height: 50px;
  width: 300px !important;
}

input[type="text"].song-input::-webkit-input-placeholder {
  color: rgb(132, 0, 255);
  font-weight: 600;
}

.song-input,
.song-btn {
  box-shadow: 1px 2px rgb(80, 79, 79);
}

.my-audio {
  visibility: hidden;
}

#click-to-play-p {
  visibility: hidden;
}

#intro {
  height: 25vh;
}

.intro,
.p-intro {
  color: white;
  font-weight: 400;
  font-size: 3.5rem;
  opacity: 0.7;
  text-shadow: 1.5px 1px rgb(132, 0, 255);
}

.p-intro {
  font-size: 1.2rem;
}

#songs {
  margin-top: 100px;
  margin-bottom: 250px;
}

audio {
  width: 300px;
}

.card {
  background-color: black;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(224, 223, 223);
  border: 1px solid rgb(224, 223, 223);
  color: black;
}

.cards-bottom-page {
  margin-bottom: 30vh !important;
}

footer {
  position: fixed;
  height: 100px;
  bottom: -2px;
  width: 100%;
  background: linear-gradient(to right, rgb(132, 0, 255), rgb(190, 2, 190));
  color: black;
  visibility: hidden;
  height: auto;
}


@media (hover: none) {

  body {
    background-size: cover;
    background-position: 60% 50%;
    overflow-x: hidden !important
  }

  .title-bg-img {
    display: none;
  }

  .title {
    margin-top: -4vh;
    margin-left: 1vw;
    font-size: 2rem;
  }

  .song-input {
    margin-top: 1vh;
    height: 30px;
    width: 250px !important;
    margin-left: 7vw;
  }

  .song-btn {
    margin-top: 2vh;
    font-size: 0.7rem;
    width: 120px;
    margin-left: 26vw !important;
  }

  .my-audio {
    margin-top: 2vh;
    margin-left: 0vw !important;
  }

  #intro {
    margin-top: 3vh;
  }

  .intro,
  .p-intro {
    font-weight: 300;
    font-size: 0.9rem;
    opacity: 0.7;
  }

  .p-intro {
    font-size: 0.7rem;
  }

  .card-title,
  .card-text {
    font-size: 0.8rem;
  }

  .itunes {
    margin-bottom: 0.2vh;
    font-size: 0.6rem !important;
  }

  #songs {
    margin-top: 5vh !important;
  }

  footer {
    margin-left: -4vw;
  }

  footer p {
    font-size: 0.7rem;
  }

  #download-album {
    display: none;
  }

}